@font-face {
  font-family: "ClashDisplay";
  src: url("./app/fonts/ClashDisplay-Medium.woff2") format("woff2"), url("./app/fonts/ClashDisplay-Medium.woff") format("woff"), url("./app/fonts/ClashDisplay-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashDisplay";
  src: url("./app/fonts/ClashDisplay-Regular.woff2") format("woff2"), url("./app/fonts/ClashDisplay-Regular.woff") format("woff"), url("./app/fonts/ClashDisplay-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.preheader {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 40rem) {
  .preheader {
    /* 640px */
  }
  .preheader {
    font-size: 14px !important;
  }
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.dm-sans-semibold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --ff-primary: "ClashDisplay", sans-serif;
  --ff-secondary: "DM Sans", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-primary);
}

h5,
p {
  font-family: var(--ff-secondary);
  line-height: 150%;
}

h1 {
  font-size: clamp(2.5rem, 2.0645rem + 1.9355vw, 4rem);
  line-height: 110%;
}

h2 {
  font-size: clamp(2rem, 1.8548rem + 0.6452vw, 2.5rem);
  line-height: 140%;
}

h3 {
  font-size: clamp(1.75rem, 1.6774rem + 0.3226vw, 2rem);
  line-height: 130%;
}

h4 {
  font-size: clamp(1.125rem, 0.9435rem + 0.8065vw, 1.75rem);
  line-height: 110%;
}

h5 {
  font-size: clamp(1.25rem, 1.1959rem + 0.2703vw, 1.5rem);
  font-weight: 400;
}

h6 {
  font-size: clamp(1rem, 0.9274rem + 0.3226vw, 1.25rem);
  line-height: 150%;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.paragraph-super-small {
  font-size: 0.75rem;
  font-weight: 400;
}
.paragraph-super-small a {
  text-decoration-line: underline;
  font-weight: 500;
}

.paragraph-small {
  font-size: 0.875rem;
}

.paragraph-big {
  font-size: 1.125rem;
  line-height: 150%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
textarea {
  border: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  min-height: 100svh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-inline-size: 100%;
  block-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
  font-style: italic;
  vertical-align: middle;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (max-width: 27.5rem) {
  input::placeholder {
    /* 440px */
  }
  input::placeholder {
    font-size: 14px;
  }
}

:root {
  --white:hsla(0, 0%, 100%, 1);
  --lightGray:hsla(0, 0%, 95%, 1);
  --darkGray:hsla(225, 6%, 40%, 1);
  --black:hsla(225, 6%, 13%, 1);
  --blue-5:hsla(219, 100%, 96%, 1);
  --blue-10:hsla(220, 97%, 93%, 1);
  --blue-20:hsla(220, 50%, 72%, 1);
  --blue-40:hsla(220, 97%, 68%, 1);
  --blue-60:hsla(220, 97%, 64%, 1);
  --blue-80:hsla(220, 97%, 55%, 1);
  --blue-100:hsla(220, 97%, 48%, 1);
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}
@media (max-width: 95.5rem) {
  .container {
    /* 1528px */
  }
  .container {
    padding-inline: 2rem;
  }
}
@media (max-width: 27.5rem) {
  .container {
    /* 440px */
  }
  .container {
    padding-inline: 1rem;
  }
}

.swiper {
  overflow: visible !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: var(--ff-secondary);
}

body {
  background-color: #fff;
  background-image: radial-gradient(circle, rgba(2, 2, 29, 0.05) 2px, transparent 1px);
  background-size: 30px 30px;
  background-repeat: repeat;
  background-attachment: scroll;
}

body .wrapper header {
  background: radial-gradient(128.44% 50% at 0% 0%, #4A86FC 0%, #0454F2 100%);
  padding-block-end: 4.5rem;
}
@media (max-width: 40rem) {
  body .wrapper header {
    /* 880px */
  }
  body .wrapper header {
    padding-block-end: 3rem;
  }
}
body .wrapper header nav {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 2rem;
}
@media (max-width: 40rem) {
  body .wrapper header nav .logo-container img {
    /* 640px */
  }
  body .wrapper header nav .logo-container img {
    height: 21px;
  }
}
body .wrapper header nav button {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.75rem;
  background: var(--white);
  color: var(--blue-100);
  gap: 0.25rem;
}
@media (max-width: 40rem) {
  body .wrapper header nav button {
    /* 640px */
  }
  body .wrapper header nav button {
    font-size: 14px;
  }
}
body .wrapper header .hero-section,
body .wrapper header .ecommerce-engine {
  max-width: 882px;
  margin: 0 auto;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper header .hero-section {
  margin-block-end: 2rem;
}
body .wrapper header .hero-section__preheader {
  display: flex;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background: var(--white);
  color: var(--blue-100);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-end: 0.875rem;
}
body .wrapper header .hero-section__header {
  margin-block-end: 1rem;
}
body .wrapper header .hero-section__header h1 {
  text-align: center;
  font-weight: 500;
}
body .wrapper header .hero-section__paragraph {
  max-width: 640px;
  margin-block-end: 1.5rem;
}
body .wrapper header .hero-section__form {
  max-width: 500px;
  width: 100%;
}
body .wrapper header .hero-section__form form {
  display: flex;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
  border-radius: 3.5rem;
  border: 1px solid var(--blue-40);
  background: var(--white);
  gap: 1rem;
  margin-block-end: 0.5rem;
}
body .wrapper header .hero-section__form form input {
  width: 100%;
}
body .wrapper header .hero-section__form form button {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  align-items: center;
  gap: 0.3rem;
  border-radius: 2.75rem;
  background: var(--blue-100);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  text-wrap: nowrap;
}
@media (max-width: 40rem) {
  body .wrapper header .hero-section__form form button {
    /* 640px */
  }
  body .wrapper header .hero-section__form form button {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  body .wrapper header .hero-section__form form button .mobile {
    display: none;
  }
}
body .wrapper header .hero-section__form form button img {
  max-inline-size: none;
}
@media (max-width: 40rem) {
  body .wrapper header .hero-section__form form button img {
    /* 640px */
  }
  body .wrapper header .hero-section__form form button img {
    display: none;
  }
}
body .wrapper header .ecommerce-engine__header {
  margin-block-end: 1.25rem;
}
body .wrapper header .ecommerce-engine__images {
  display: flex;
  gap: 80px;
  align-items: center;
}
@media (max-width: 55rem) {
  body .wrapper header .ecommerce-engine__images {
    /* 880px */
  }
  body .wrapper header .ecommerce-engine__images {
    gap: 0;
    justify-content: space-around;
    width: 100%;
  }
}
@media (max-width: 40rem) {
  body .wrapper header .ecommerce-engine__images {
    /* 880px */
  }
  body .wrapper header .ecommerce-engine__images {
    gap: 1rem;
    justify-content: center;
  }
  body .wrapper header .ecommerce-engine__images img {
    height: 20px;
  }
}
body .wrapper header .ecommerce-engine__images .spacer {
  display: block;
  width: 0.0625rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
}
body .wrapper main {
  padding-block-start: 4.5rem;
}
@media (max-width: 64rem) {
  body .wrapper main {
    /* 1024px */
  }
  body .wrapper main {
    overflow: hidden;
  }
}
@media (max-width: 40rem) {
  body .wrapper main {
    /* 880px */
  }
  body .wrapper main {
    padding-block-start: 3rem;
  }
}
body .wrapper main .section-gray {
  border-radius: 2.5rem;
  background: var(--lightGray);
}
@media (max-width: 40rem) {
  body .wrapper main .section-gray {
    /* 880px */
  }
  body .wrapper main .section-gray {
    border-radius: 1.5rem;
  }
}
body .wrapper main .ten-minutes-data {
  display: flex;
  padding: 4.5rem 6.5rem;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 95.5rem) {
  body .wrapper main .ten-minutes-data {
    /* 1528px */
  }
  body .wrapper main .ten-minutes-data {
    padding: 4rem;
  }
}
@media (max-width: 80rem) {
  body .wrapper main .ten-minutes-data {
    /* 1280px */
  }
  body .wrapper main .ten-minutes-data {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 40rem) {
  body .wrapper main .ten-minutes-data {
    /* 880px */
  }
  body .wrapper main .ten-minutes-data {
    padding: 1.5rem;
  }
}
body .wrapper main .ten-minutes-data__image, body .wrapper main .ten-minutes-data__content {
  flex: 1;
}
body .wrapper main .ten-minutes-data__content {
  padding-inline-end: 80px;
}
@media (max-width: 95.5rem) {
  body .wrapper main .ten-minutes-data__content {
    /* 1528px */
  }
  body .wrapper main .ten-minutes-data__content {
    padding-inline-end: 20px;
  }
}
@media (max-width: 80rem) {
  body .wrapper main .ten-minutes-data__content {
    /* 1280px */
  }
  body .wrapper main .ten-minutes-data__content {
    max-width: 960px;
  }
}
body .wrapper main .ten-minutes-data__content--preheader {
  display: flex;
  padding: 0.25rem 0.75rem;
  width: fit-content;
  color: var(--blue-80);
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background: var(--blue-10);
  margin-block-end: 0.625rem;
}
body .wrapper main .ten-minutes-data__content--header {
  margin-block-end: 1rem;
}
body .wrapper main .ten-minutes-data__content--lead {
  margin-block-end: 1.5rem;
}
@media (max-width: 80rem) {
  body .wrapper main .ten-minutes-data__image {
    /* 1280px */
  }
  body .wrapper main .ten-minutes-data__image {
    max-width: 560px;
  }
}
body .wrapper main .ten-minutes-data__image img {
  width: 100%;
  border-radius: 0.5rem;
  border: 4px solid #F2F2F2;
  box-shadow: 0px 16px 40px 16px rgba(18, 23, 33, 0.1);
}
body .wrapper main .benefits {
  padding-block: 6.5rem 3.25rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 64rem) {
  body .wrapper main .benefits {
    /* 1024px */
  }
  body .wrapper main .benefits {
    flex-direction: column;
  }
}
@media (max-width: 40rem) {
  body .wrapper main .benefits {
    /* 880px */
  }
  body .wrapper main .benefits {
    padding-block: 3rem;
  }
}
body .wrapper main .benefits__text {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 64rem) {
  body .wrapper main .benefits__text {
    /* 1024px */
  }
  body .wrapper main .benefits__text {
    width: 100%;
    max-width: 560px;
  }
}
body .wrapper main .benefits__text button {
  width: fit-content;
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2.75rem;
  background: var(--blue-100);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  text-wrap: nowrap;
}
body .wrapper main .benefits__grid {
  width: 100%;
}
body .wrapper main .benefits__grid-inner {
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
@media (max-width: 64rem) {
  body .wrapper main .benefits__grid-inner {
    /* 1024px */
  }
  body .wrapper main .benefits__grid-inner {
    display: flex;
    grid-gap: 0;
  }
}
body .wrapper main .benefits__grid-inner--element {
  display: flex;
  align-items: flex-start;
  height: 13.5rem;
  padding: 2rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--lightGray);
  background: #FFF;
  box-shadow: 0px 12px 44px 0px rgba(0, 0, 0, 0.05);
}
@media (max-width: 40rem) {
  body .wrapper main .benefits__grid-inner--element {
    /* 640px */
  }
  body .wrapper main .benefits__grid-inner--element {
    padding: 1.5rem 1.25rem;
  }
}
body .wrapper main .benefits__grid-inner--element p:not(.medium) {
  color: var(--darkGray);
}
body .wrapper main .video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-block: 3.25rem 6.5rem;
}
@media (max-width: 40rem) {
  body .wrapper main .video-section {
    /* 880px */
  }
  body .wrapper main .video-section {
    margin-block: 0;
    align-items: flex-start;
    text-align: left;
  }
  body .wrapper main .video-section h3 {
    order: 2;
  }
  body .wrapper main .video-section p {
    order: 3;
  }
}
body .wrapper main .video-section h3 {
  max-width: 724px;
  margin-block-end: 1rem;
}
body .wrapper main .video-section p {
  max-width: 724px;
  margin-block-end: 2rem;
}
@media (max-width: 40rem) {
  body .wrapper main .video-section p {
    /* 880px */
  }
  body .wrapper main .video-section p {
    margin-block-end: 3rem;
  }
}
body .wrapper main .video-section__container {
  display: flex;
  width: 100%;
  max-width: 970px;
  border-radius: 0.75rem;
  outline: 8px solid #F2F2F2;
  box-shadow: 0px 24px 40px 16px rgba(18, 23, 33, 0.1);
  position: relative;
  overflow: hidden;
}
@media (max-width: 40rem) {
  body .wrapper main .video-section__container {
    /* 880px */
  }
  body .wrapper main .video-section__container {
    margin-block-end: 2rem;
    order: 1;
  }
}
body .wrapper main .video-section__container .video-thumbnail .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .wrapper main .video-section__container iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
body .wrapper main .promo-section {
  display: flex;
  gap: 2rem;
  margin-block-end: 6.5rem;
}
@media (max-width: 75rem) {
  body .wrapper main .promo-section {
    /* 1200px */
  }
  body .wrapper main .promo-section {
    flex-direction: column;
  }
}
@media (max-width: 40rem) {
  body .wrapper main .promo-section {
    /* 880px */
  }
  body .wrapper main .promo-section {
    margin-block-end: 3rem;
  }
}
body .wrapper main .promo-section__blue {
  flex: 1 0 0;
}
body .wrapper main .promo-section__blue-inner {
  display: flex;
  padding: 3rem 3.5rem;
  flex-direction: column;
  gap: 0.875rem;
  width: 100%;
  border-radius: 2.5rem;
  outline: 8px solid #E8EEF3;
  background: radial-gradient(108.48% 50% at 0% 0%, #4A86FC 0%, #0454F2 100%), #0454F2;
}
body .wrapper main .promo-section__blue-inner--preheader {
  display: flex;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background: var(--white);
  width: fit-content;
  color: var(--blue-100);
}
body .wrapper main .promo-section__blue-inner--header {
  color: var(--white);
}
body .wrapper main .promo-section__blue-inner--paragraph {
  color: var(--white);
}
body .wrapper main .promo-section .contact__expert {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
@media (max-width: 75rem) {
  body .wrapper main .promo-section .contact__expert {
    /* 1200px */
  }
  body .wrapper main .promo-section .contact__expert {
    align-items: center;
  }
}
body .wrapper main .promo-section .contact__expert--header {
  margin-block-end: 1.5rem;
}
body .wrapper main .promo-section .contact__expert--header h4 {
  font-size: 1.75rem;
  margin-block-end: 0.5rem;
}
@media (max-width: 75rem) {
  body .wrapper main .promo-section .contact__expert--header {
    /* 1200px */
  }
  body .wrapper main .promo-section .contact__expert--header {
    text-align: center;
  }
}
body .wrapper main .promo-section .contact__expert--data {
  display: flex;
  gap: 2rem;
}
@media (max-width: 40rem) {
  body .wrapper main .promo-section .contact__expert--data {
    /* 880px */
  }
  body .wrapper main .promo-section .contact__expert--data {
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main .promo-section .contact__expert--data .expert__image {
  max-width: 140px;
}
@media (max-width: 40rem) {
  body .wrapper main .promo-section .contact__expert--data .expert__content {
    /* 640px */
  }
  body .wrapper main .promo-section .contact__expert--data .expert__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main .promo-section .contact__expert--data .expert__content--preheader {
  width: fit-content;
  border-radius: 0.25rem;
  background: var(--lightGray);
  padding: 0.125rem 0.5rem;
  color: var(--black);
  font-size: 0.75rem;
  line-height: 170%;
  /* 1.275rem */
  letter-spacing: 0.03rem;
  margin-block-end: 0.25rem;
}
body .wrapper main .promo-section .contact__expert--data .expert__content--name {
  margin-block-end: 0.75rem;
}
body .wrapper main .promo-section .contact__expert--data .expert__content--mail, body .wrapper main .promo-section .contact__expert--data .expert__content--phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 64rem) {
  body .wrapper main .promo-section .contact__expert--data .expert__content--mail, body .wrapper main .promo-section .contact__expert--data .expert__content--phone {
    /* 1024px */
  }
  body .wrapper main .promo-section .contact__expert--data .expert__content--mail img, body .wrapper main .promo-section .contact__expert--data .expert__content--phone img {
    display: none;
  }
}
body .wrapper main .promo-section .contact__expert--data .expert__content--mail {
  margin-block-end: 0.5rem;
}
body .wrapper main .promo-section .contact__expert--data .expert__content--phone {
  margin-block-end: 1.25rem;
}
body .wrapper main .promo-section .contact__expert--data .expert__content--schedule {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 2.75rem;
  border: 1px solid var(--blue-100);
  background-color: var(--white);
  color: var(--blue-100);
}
body .wrapper main .data-management {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 5.5rem 4.5rem 5.5rem;
  align-items: center;
  gap: 3.5rem;
}
@media (max-width: 40rem) {
  body .wrapper main .data-management {
    /* 880px */
  }
  body .wrapper main .data-management {
    padding: 1.5rem;
  }
}
@media (max-width: 40rem) {
  body .wrapper main .data-management {
    /* 880px */
  }
  body .wrapper main .data-management h3 {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 64rem) {
  body .wrapper main .data-management {
    /* 1024px */
  }
  body .wrapper main .data-management {
    align-items: flex-start;
  }
}
body .wrapper main .data-management__content {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 64rem) {
  body .wrapper main .data-management__content {
    /* 1024px */
  }
  body .wrapper main .data-management__content {
    flex-direction: column;
  }
}
body .wrapper main .data-management__content--col {
  flex: 1;
}
body .wrapper main .data-management__content--col img {
  margin-block-end: 1.5rem;
  max-height: 28px;
  height: 100%;
}
body .wrapper main .data-management__content--col .paragraph-big {
  margin-block-end: 0.5rem;
}
body .wrapper main .data-management__content--col p:not(.medium) {
  color: var(--darkGray);
}
body .wrapper main .statistics-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 6.5rem;
  gap: 2.5rem;
}
@media (max-width: 40rem) {
  body .wrapper main .statistics-collection {
    /* 880px */
  }
  body .wrapper main .statistics-collection {
    padding-block: 3.5rem;
  }
}
body .wrapper main .statistics-collection h3 {
  max-width: 40rem;
  text-align: center;
}
body .wrapper main .statistics-collection__logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (max-width: 64rem) {
  body .wrapper main .statistics-collection__logos {
    /* 1024px */
  }
  body .wrapper main .statistics-collection__logos {
    justify-content: center;
  }
}
body .wrapper main .statistics-collection__logos .spacer {
  display: block;
  background-color: #E6E6E6;
  width: 1px;
  height: 72px;
}
@media (max-width: 64rem) {
  body .wrapper main .statistics-collection__logos .spacer {
    /* 1024px */
  }
  body .wrapper main .statistics-collection__logos .spacer {
    display: none;
  }
}
body .wrapper main .free-demo {
  display: flex;
  max-width: 77rem;
  margin: 0 auto;
  padding: 3.25rem 2rem;
  flex-direction: column;
  align-items: center;
  border-radius: 2.5rem;
  outline: 8px solid #E8EEF3;
  background: radial-gradient(242.52% 50% at 0% 0%, #4A86FC 0%, #0454F2 100%);
  box-shadow: 0px 24px 40px 16px rgba(18, 23, 33, 0.1);
  color: var(--white);
  text-align: center;
}
@media (max-width: 40rem) {
  body .wrapper main .free-demo {
    /* 880px */
  }
  body .wrapper main .free-demo {
    padding: 1.5rem;
  }
}
body .wrapper main .free-demo h2 {
  margin-block-end: 1.5rem;
}
@media (max-width: 40rem) {
  body .wrapper main .free-demo h2 {
    /* 880px */
  }
  body .wrapper main .free-demo h2 {
    font-size: 1.5rem;
  }
}
body .wrapper main .free-demo form {
  display: flex;
  max-width: 28.5rem;
  margin: 0 auto;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.5rem;
  border: 1px solid var(--blue-40);
  background: var(--white);
  gap: 1rem;
  margin-block-end: 0.5rem;
}
@media (max-width: 40rem) {
  body .wrapper main .free-demo form {
    /* 880px */
  }
  body .wrapper main .free-demo form {
    width: 100%;
  }
}
body .wrapper main .free-demo form input {
  width: 100%;
}
body .wrapper main .free-demo form button {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  align-items: center;
  gap: 0.3rem;
  border-radius: 2.75rem;
  background: var(--blue-100);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  text-wrap: nowrap;
}
@media (max-width: 40rem) {
  body .wrapper main .free-demo form button {
    /* 640px */
  }
  body .wrapper main .free-demo form button {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  body .wrapper main .free-demo form button .mobile {
    display: none;
  }
  body .wrapper main .free-demo form button img {
    display: none;
  }
}
body .wrapper main .free-demo form button img {
  max-inline-size: none;
}
body .wrapper main .how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 0rem 3.25rem 0rem;
}
@media (max-width: 40rem) {
  body .wrapper main .how-it-works {
    /* 880px */
  }
  body .wrapper main .how-it-works {
    padding: 3rem 0rem 3rem 0rem;
  }
}
body .wrapper main .how-it-works h2 {
  margin-block-end: 2rem;
}
body .wrapper main .how-it-works__content {
  display: flex;
  width: 100%;
}
body .wrapper main .how-it-works__content-inner {
  display: flex;
  gap: 32px;
}
@media (max-width: 64rem) {
  body .wrapper main .how-it-works__content-inner {
    /* 1024px */
  }
  body .wrapper main .how-it-works__content-inner {
    gap: 0px;
    width: 100%;
  }
}
body .wrapper main .how-it-works__content-inner--col {
  flex: 1;
}
@media (max-width: 64rem) {
  body .wrapper main .how-it-works__content-inner--col {
    /* 1024px */
  }
  body .wrapper main .how-it-works__content-inner--col {
    flex: none;
  }
}
body .wrapper main .how-it-works__content-inner--col .video-section__container {
  margin-block-end: 2rem;
  border-radius: 0.75rem;
  outline: 8px solid var(--lightGray);
  box-shadow: 0px 24px 40px 16px rgba(18, 23, 33, 0.1);
}
body .wrapper main .how-it-works__content-inner--col .paragraph-big {
  margin-block-end: 0.5rem;
}
body .wrapper main .how-it-works__content-inner--col p:not(.medium) {
  color: var(--darkGray);
}
body .wrapper main .contact {
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
  padding-block: 3.25rem;
  max-width: 1228px;
  gap: 2rem;
}
@media (max-width: 75rem) {
  body .wrapper main .contact {
    /* 1200px */
  }
  body .wrapper main .contact {
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main .contact__expert {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 64rem) {
  body .wrapper main .contact__expert {
    /* 1024px */
  }
  body .wrapper main .contact__expert {
    align-items: center;
  }
}
body .wrapper main .contact__expert--preheader {
  width: fit-content;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background: var(--blue-5);
  margin-block-end: 0.875rem;
  color: var(--blue-80);
  font-size: 0.875rem;
}
body .wrapper main .contact__expert--header {
  margin-block-end: 1.5rem;
}
@media (max-width: 64rem) {
  body .wrapper main .contact__expert--header {
    /* 1024px */
  }
  body .wrapper main .contact__expert--header {
    text-align: center;
  }
}
body .wrapper main .contact__expert--data {
  display: flex;
  gap: 2rem;
}
@media (max-width: 40rem) {
  body .wrapper main .contact__expert--data {
    /* 880px */
  }
  body .wrapper main .contact__expert--data {
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main .contact__expert--data .expert__image {
  max-width: 140px;
}
@media (max-width: 40rem) {
  body .wrapper main .contact__expert--data .expert__content {
    /* 640px */
  }
  body .wrapper main .contact__expert--data .expert__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .wrapper main .contact__expert--data .expert__content--preheader {
  width: fit-content;
  border-radius: 0.25rem;
  background: var(--lightGray);
  padding: 0.125rem 0.5rem;
  color: var(--black);
  font-size: 0.75rem;
  line-height: 170%;
  /* 1.275rem */
  letter-spacing: 0.03rem;
  margin-block-end: 0.25rem;
}
body .wrapper main .contact__expert--data .expert__content--name {
  margin-block-end: 0.75rem;
}
body .wrapper main .contact__expert--data .expert__content--mail, body .wrapper main .contact__expert--data .expert__content--phone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
@media (max-width: 64rem) {
  body .wrapper main .contact__expert--data .expert__content--mail, body .wrapper main .contact__expert--data .expert__content--phone {
    /* 1024px */
  }
  body .wrapper main .contact__expert--data .expert__content--mail img, body .wrapper main .contact__expert--data .expert__content--phone img {
    display: none;
  }
}
body .wrapper main .contact__expert--data .expert__content--mail {
  margin-block-end: 0.5rem;
}
body .wrapper main .contact__expert--data .expert__content--phone {
  margin-block-end: 1.25rem;
}
body .wrapper main .contact__expert--data .expert__content--schedule {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  border-radius: 2.75rem;
  border: 1px solid var(--blue-100);
  background-color: var(--white);
  color: var(--blue-100);
}
body .wrapper main .contact__form {
  flex: 1;
}
body .wrapper main .contact__form--padding {
  display: flex;
  padding: 3rem 3.5rem;
  flex-direction: column;
  border-radius: 2.5rem;
  background: var(--lightGray);
}
@media (max-width: 75rem) {
  body .wrapper main .contact__form--padding {
    /* 1200px */
  }
  body .wrapper main .contact__form--padding {
    align-items: center;
  }
}
@media (max-width: 40rem) {
  body .wrapper main .contact__form--padding {
    /* 640px */
  }
  body .wrapper main .contact__form--padding {
    padding: 1.5rem;
  }
}
body .wrapper main .contact__form h3 {
  margin-block-end: 1.5rem;
  text-align: center;
}
@media (max-width: 40rem) {
  body .wrapper main .contact__form h3 {
    /* 640px */
  }
  body .wrapper main .contact__form h3 {
    font-size: 24px;
  }
}
body .wrapper main .contact__form form {
  display: flex;
  max-width: 28.5rem;
  width: 100%;
  padding: 0.25rem 0.25rem 0.25rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3.5rem;
  border: 1px solid #8C8C8C;
  background: var(--white);
  gap: 1rem;
  margin-block-end: 0.5rem;
}
body .wrapper main .contact__form form input {
  width: 100%;
}
body .wrapper main .contact__form form button {
  display: flex;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  align-items: center;
  gap: 0.3rem;
  border-radius: 2.75rem;
  background: var(--blue-100);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 500;
  text-wrap: nowrap;
}
@media (max-width: 40rem) {
  body .wrapper main .contact__form form button {
    /* 640px */
  }
  body .wrapper main .contact__form form button {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }
  body .wrapper main .contact__form form button .mobile {
    display: none;
  }
  body .wrapper main .contact__form form button img {
    display: none;
  }
}
body .wrapper main .contact__form form button img {
  max-inline-size: none;
}
body .wrapper main .contact__form .hero-section__form--approval {
  text-align: center;
}
body .wrapper footer {
  padding: 1rem;
}
body .wrapper footer .container {
  border-radius: 2.5rem;
  background: var(--lightGray);
  display: flex;
  padding-block: 3.25rem 2rem;
  flex-direction: column;
  gap: 2rem;
  max-width: 100% !important;
}
@media (max-width: 27.5rem) {
  body .wrapper footer .container {
    /* 440px */
  }
  body .wrapper footer .container {
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
}
body .wrapper footer .container .footer__content {
  display: flex;
  max-width: 1480px;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 40rem) {
  body .wrapper footer .container .footer__content {
    /* 880px */
  }
  body .wrapper footer .container .footer__content {
    display: flex;
    flex-direction: column;
  }
}
body .wrapper footer .container .footer__content--details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
}
body .wrapper footer .container .footer__content--details img {
  width: fit-content;
}
body .wrapper footer .container .footer__content--details .description {
  max-width: 400px;
  color: var(--darkGray);
}
body .wrapper footer .container .footer__content--details .socials {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
body .wrapper footer .container .footer__content--links {
  flex: 1;
  display: flex;
  gap: 2rem;
}
@media (max-width: 27.5rem) {
  body .wrapper footer .container .footer__content--links {
    /* 440px */
  }
  body .wrapper footer .container .footer__content--links {
    flex-direction: column;
    gap: 2rem;
  }
}
body .wrapper footer .container .footer__content--links .link-col {
  flex: 1;
}
body .wrapper footer .container .footer__content--links .link-col__header {
  margin-block-end: 1rem;
}
body .wrapper footer .container .footer__content--links .link-col__links a p {
  color: var(--darkGray);
  margin-block-end: 0.75rem;
}
body .wrapper footer .container .spacer {
  display: block;
  width: 100%;
  height: 1px;
  background: #DBDBDB;
}
body .wrapper footer .container .footer__details {
  display: flex;
  justify-content: space-between;
  max-width: 1480px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 40rem) {
  body .wrapper footer .container .footer__details {
    /* 880px */
  }
  body .wrapper footer .container .footer__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}