:root{
    --white:hsla(0, 0%, 100%, 1);
    --lightGray:hsla(0, 0%, 95%, 1);
    --darkGray:hsla(225, 6%, 40%, 1);
    --black:hsla(225, 6%, 13%, 1);
    --blue-5:hsla(219, 100%, 96%, 1);
    --blue-10:hsla(220, 97%, 93%, 1);
    --blue-20:hsla(220, 50%, 72%, 1);
    --blue-40:hsla(220, 97%, 68%, 1);
    --blue-60:hsla(220, 97%, 64%, 1);
    --blue-80:hsla(220, 97%, 55%, 1);
    --blue-100:hsla(220, 97%, 48%, 1);
    }