@font-face {
    font-family: 'ClashDisplay';
    src: url('./app/fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('./app/fonts/ClashDisplay-Medium.woff') format('woff'),
        url('./app/fonts/ClashDisplay-Medium.ttf') format('ttf');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('./app/fonts/ClashDisplay-Regular.woff2') format('woff2'),
        url('./app/fonts/ClashDisplay-Regular.woff') format('woff'),
        url('./app/fonts/ClashDisplay-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

.preheader {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;

    @media (max-width: 40rem) {

        /* 640px */
        & {
            font-size: 14px!important;
        }
    }
}

.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dm-sans-medium {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.dm-sans-semibold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


:root {
    --ff-primary: 'ClashDisplay', sans-serif;
    --ff-secondary: 'DM Sans', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secondary);
}

h1,
h2,
h3,
h4 {
    font-family: var(--ff-primary);
}

h5,
p {
    font-family: var(--ff-secondary);
    line-height: 150%;
}

h1 {
    font-size: clamp(2.5rem, 2.0645rem + 1.9355vw, 4rem);
    line-height: 110%;
}

h2 {
    font-size: clamp(2rem, 1.8548rem + 0.6452vw, 2.5rem);
    line-height: 140%;
}

h3 {
    font-size: clamp(1.75rem, 1.6774rem + 0.3226vw, 2rem);
    line-height: 130%;
}

h4 {
    font-size: clamp(1.125rem, 0.9435rem + 0.8065vw, 1.75rem);
    line-height: 110%;
}

h5 {
    font-size: clamp(1.25rem, 1.1959rem + 0.2703vw, 1.5rem);
    font-weight: 400;
}

h6 {
    font-size: clamp(1rem, 0.9274rem + 0.3226vw, 1.25rem);
    line-height: 150%;
}

.medium {
    font-weight: 500;

}

.bold {
    font-weight: 700;
}

.paragraph-super-small {
    font-size: 0.75rem;
    font-weight: 400;

    a {
        text-decoration-line: underline;
        font-weight: 500;
    }
}

.paragraph-small {
    font-size: 0.875rem;
}

.paragraph-big {
    font-size: 1.125rem;
    line-height: 150%;
}

p {
    // font-size: clamp(0.875rem, 0.8387rem + 0.1613vw, 1rem);
}